html {
  font-size: $baseFontSize;
}

html,
body {
  width: 100vw;
  height: 100%;
}

body {
  @include play;
  line-height: 1.42;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  // overflow: hidden;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablets {
    min-height: 1000px;
  }

  @include phones {
    min-height: 800px;
  }
}

.container {
  position: relative;
  width: 93.5%;
  max-width: 940px;
  margin: 0 auto;

  &--full-height {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &--footer {
    display: flex;
    align-items: center;
  }

  @include tablets {
    width: 100%;
    padding: 0 rem(22px);

    &--footer {
      padding: 0 rem(30px);
    }
  }

  @include phones {
    padding: 0 rem(10px);

    &--footer {
      flex-direction: column;
    }
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

button {
  // color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: relative;
  width: 100%;
}
