@mixin play() {
  font-family: "Play", Arial, Helvetica, sans-serif;
}

@mixin alegreyaSans() {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

@mixin openSans() {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

@mixin baseText {
  color: $grey;
  font-size: rem(16px);
  line-height: rem(19px);
}
