// main colors
$red: #E01F3D;
$grey: #666666;
$black: #292929;
$white: #FFFFFF;

// base params
$baseFontSize: 16px;

// breakpoints
$tablets: 768px;
$phones: 480px;

// z-indexes
$baseZIndex: 1;
$lowerZIndex: 0;
$overlayZIndex: 10;
