.player {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.player__splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/decoration/splash.png") center/cover no-repeat;
}

.player__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: rem(35px);
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 rem(20px);
}