.benefits {
  position: relative;

  &::before {
    content: url("../img/decoration/rectangle.svg");
    position: absolute;
    top: rem(-23px);
    right: 8%;
  }
}

.benefits__subtitle {
  max-width: rem(600px);
  @include baseText;
  text-align: center;
  margin: rem(18px) auto rem(62px);

  @include tablets {
    margin: rem(10px) auto rem(52px);
  }

  @include phones {
    margin-bottom: 11vw;
  }
}

.benefits__list {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:not(:last-child) {
    &::before {
      content: url("../img/decoration/separator.png");
      position: absolute;
      top: rem(60px);
      right: 0;
      transform: translateX(50%);
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @include tablets {
    padding: 0 2.5%;

    &::before {
      content: "";
      display: none;
    }
  }

  @include phones {
    display: flex;
    align-items: center;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 6.9vw;
    }
  }
}

.benefits__picture {
  width: rem(128px);
  height: rem(128px);
  border-radius: 50%;
  background-color: #F2F5F4;
  display: flex;
  margin: 0 auto rem(24px);

  @include phones {
    max-width: rem(128px);
    max-height: rem(128px);
    width: 32vw;
    height: 32vw;
    flex-shrink: 0;
    margin-right: rem(12px);
    margin-bottom: 0;
  }
}

.benefits__icon {
  margin: auto;
}

.benefits__desc {
  text-align: center;

  @include phones {
    text-align: left;
  }
}

.benefits__desc-title {
  font-size: rem(24px);
  font-weight: 700;
  line-height: rem(28px);
  margin-bottom: rem(6px);

  @include tablets {
    margin-bottom: rem(20px);
  }

  @include phones {
    margin-bottom: rem(6px);
  }
}

.benefits__desc-text {
  @include baseText;
  padding: 0 rem(14px);

  @include tablets {
    padding: 0;
  }
}
