.fixed-menu {
  position: fixed;
  top: calc(50vh - 5.5rem); // 5.5rem = 88px
  right: 4.2%;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  line-height: 1;

  &--current {
    .fixed-menu__dot {
      border-color: $red;

      &::before {
        background-color: $red;
        opacity: 1;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.fixed-menu__dot {
  position: relative;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $black;
    opacity: .6;
    transform: translate(-50%, -50%);
  }
}
