.form {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.form__column {
  flex: 1;

  &--limited-width {
    max-width: rem(450px);
  }

  &:not(:last-child) {
    margin-right: 3%; // ~28px
  }

  @include tablets {
    &--limited-width {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: rem(14px); // 16px
    }
  }
}

.form__row {
  display: flex;

  &:not(:last-child) {
    margin-bottom: rem(12px);

    @include tablets {
      margin-bottom: rem(14px); // 16px
    }
  }
}

.form__block {
  display: block;
  flex: 1;

  &:not(:last-child) {
    margin-right: rem(14px);
  }
}

.form__block-title {
  display: block;
  font-size: rem(16px);
  line-height: rem(18px);
  margin-bottom: rem(6px);
}

.form__input {
  width: 100%;
  height: rem(58px);
  padding: rem(8px) rem(10px);
  border-radius: 4px;
  border: rem(3px) solid transparent;
  @include openSans;
  font-size: rem(14px);
  line-height: rem(20px);
  outline: none;

  &:focus, &.input-error {
    border-color: $red;
  }

  &--textarea {
    height: rem(152px);
    display: block;
    resize: none;
  }

  @include tablets {
    height: rem(36px);

    &--textarea {
      height: rem(82px);
    }
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  &--first-line {
    margin: rem(40px) 0 rem(18px);

    @include tablets {
      margin: rem(24px) 0 0; // 22px
    }
  }

  @include phones {
    justify-content: center;
  }
}

.form__controls--first-line .form__radio {
  @include tablets {
      padding-bottom: rem(24px); // 22px
  }
}

.form__radio {
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: rem(16px);

    @include phones {
      margin-right: rem(14px);
    }
  }
}

.form__buttons {
  margin-top: rem(45px);

  @include tablets {
    text-align: center;
    margin-top: rem(36px);
  }
}

.form__button {
  &:not(:last-child) {
    margin-right: rem(10px);

    @include tablets {
      margin-right: rem(24px);
    }
  }
}
