.order {
  background: $black url("../img/bg/order.png") center / cover no-repeat;
  color: $white;
  position: relative;

  &::before {
    content: url("../img/decoration/pentagon.svg");
    position: absolute;
    top: rem(-24px);
    right: 7%;
  }
}

.order__form {
  margin-top: rem(58px);

  @include tablets {
    max-width: rem(466px); // 468px
    margin: rem(30px) auto 0; // 32px
  }

  @include phones {
    margin-top: rem(40px);
  }
}
