.reviews {
  position: relative;

  &::before {
    content: url("../img/decoration/circle.svg");
    position: absolute;
    bottom: rem(-24px);
    left: 8%;
  }
}

.reviews__display {
  width: 100%;
  background-color: #F8FAF9;
  // padding: rem(42px) 14.68% rem(42px) rem(42px);
  padding: rem(42px);
  margin: rem(32px) auto rem(15px);
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: rem(83px);
    height: rem(83px);
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: rem(-56px); // -62px
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablets {
    max-width: rem(724px);
    min-height: rem(418px);
    padding: 3.5rem 3.315% 1rem;
    margin: rem(32px) auto;
  }

  @include phones {
    max-width: rem(460px);
    min-height: rem(450px);
    padding-left: rem(16px);
    padding-right: rem(16px);
    margin: rem(26px) auto rem(45px);

    &::before {
      display: none;
    }
  }
}

// .reviews__list {
//   display: flex;
// }

.reviews__item {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.reviews__avatar {
  object-fit: cover;
  margin-right: rem(40px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-right: 0;
    margin-bottom: rem(32px);
  }

  @include phones {
    margin-bottom: rem(21px);
  }
}

.reviews__content {
  flex: 1;

  @include tablets {
    text-align: center;
  }
}

.reviews__title {
  font-size: rem(24px);
  font-weight: 700;
  line-height: rem(28px);
  padding-top: rem(12px);
  margin-bottom: rem(28px);

  @include tablets {
    padding-top: 0;
    margin-bottom: rem(16px);
  }

  @include phones {
    margin-bottom: rem(12px);
  }
}

.reviews__text {
  max-width: rem(464px); // 467px
  color: $baseTextColor;
  line-height: rem(19px);
  margin-bottom: rem(40px);

  @include tablets {
    max-width: 100%;
    margin-bottom: rem(16px);
  }

  @include phones {
    margin-bottom: rem(12px);
  }
}

.reviews__author {
  font-size: rem(18px);
  font-weight: 700;
  line-height: rem(21px);
}

.reviews__dots {
  display: flex;
  justify-content: center;
}

.reviews__dot {
  width: rem(74px);
  height: rem(74px);

  &--active {
    .reviews__button {
      &::after {
        border-color: $red;
      }
    }
  }

  &:not(:last-child) {
    margin-right: rem(6px);
  }

  @include phones {
    width: rem(64px);
    height: rem(64px);

    &:not(:last-child) {
      margin-right: rem(10px);
    }
  }
}

.reviews__button {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: rem(4px) solid transparent;
    border-radius: 50%;
  }

}

.reviews__mini-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
