.title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  text-transform: uppercase;

  &--centered {
    text-align: center;
  }

  &--color--white {
    color: $white;
  }

  @include phones {
    font-size: rem(32px);
    line-height: rem(36px);
  }
}
