.title {
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(52px);
  text-transform: uppercase;

  @include phones {
    font-size: rem(32px);
    line-height: rem(36px);
  }

  &--centered {
    text-align: center;
  }

  &--reduced {
    font-size: rem(36px);
    line-height: rem(42px);

    @include tablets {
      font-size: rem(28px);
      line-height: rem(32px);
    }
  }

  &--color--white {
    color: $white;
  }
}
